<div id="board" class="flex h-screen bg-wood-200">
  <div :class="sidebarOpen ? 'translate-x-0' : '-translate-x-full'"
    class="fixed inset-y-0 left-0 z-30 w-32 overflow-auto bg-wood-550 transform duration-300 ease-linear lg:translate-x-0 lg:static">
    <div class="flex justify-end mt-4 mr-4 lg:hidden"><!-- NOTE: this is the sidebar close button for responsive -->
      <button @click="sidebarOpen = false" class="w-8 h-8 cursor-pointer text-wood-150 hover:text-wood-800 transition-all duration-600 ease-in-out">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24">
          <g><path fill="none" d="M0 0H24V24H0z"></path><path d="M21 18v2H3v-2h18zM6.596 3.904L8.01 5.318 4.828 8.5l3.182 3.182-1.414 1.414L2 8.5l4.596-4.596zM21 11v2h-9v-2h9zm0-7v2h-9V4h9z"/></g>
        </svg>
      </button>
    </div>
    <div class="flex flex-col flex-shrink-0 mt-4">
      <!-- Menu > Home -->
      <button class="w-12 h-12 mx-auto my-6 cursor-pointer text-wood-150 hover:text-wood-800 transition-all duration-600 ease-in-out">
        <svg fill="currentColor" viewBox="0 0 576 512">
          <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
        </svg>
      </button>
      <!-- Menu > Time/History -->
      <button class="w-12 h-12 mx-auto my-6 cursor-pointer text-wood-150 hover:text-wood-800 transition-all duration-600 ease-in-out">
        <svg fill="currentColor" viewBox="0 0 512 512">
          <path d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"/>
        </svg>
      </button>
      <!-- Menu > projects/epics -->
      <button class="w-12 h-12 mx-auto my-6 cursor-pointer text-wood-150 hover:text-wood-800 transition-all duration-600 ease-in-out">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512">
          <path d="M383.88,287.82l64-192H338.47a70.2,70.2,0,0,1-66.59-48,70.21,70.21,0,0,0-66.6-48H63.88l64,288Zm-384,192a32,32,0,0,0,32,32h448a32,32,0,0,0,32-32v-64H-.12Zm480-256H438.94l-21.33,64h14.27a16,16,0,0,1,0,32h-352a16,16,0,1,1,0-32H95.09l-14.22-64h-49a32,32,0,0,0-32,32v128h512v-128A32,32,0,0,0,479.88,223.82Z"/>
        </svg>
      </button>
      <!-- Menu > statistics -->
      <button class="w-12 h-12 mx-auto my-6 cursor-pointer text-wood-150 hover:text-wood-800 transition-all duration-600 ease-in-out">
        <svg stroke="currentColor" fill="currentColor" stroke-width="1" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <!-- Menu > Configs -->
      <button class="w-12 h-12 mx-auto my-6 cursor-pointer text-wood-150 hover:text-wood-800 transition-all duration-500 ease-in-out">
        <svg fill="currentColor" viewBox="0 0 16 16">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="flex flex-col flex-1 min-w-0 bg-wood-200">
    <div class="flex-shrink-0">
      <header>
        <div class="px-6">
          <div class="flex items-center justify-between py-3 border-b border-wood-400">
            <div class="flex flex-1 min-w-0">
              <!-- Responsive: button to open sidebar menu for mobile -->
              <button @click="sidebarOpen = true" class="flex-shrink-0 mr-3 cursor-pointer text-wood-750 hover:text-wood-900 transition-all duration-600 ease-in-out lg:hidden">
                <svg class="w-8 h-8" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24">
                  <g><path fill="none" d="M0 0H24V24H0z"/><path d="M21 18v2H3v-2h18zM17.404 3.904L22 8.5l-4.596 4.596-1.414-1.414L19.172 8.5 15.99 5.318l1.414-1.414zM12 11v2H3v-2h9zm0-7v2H3V4h9z"/></g>
                </svg>
              </button>
              <div class="relative flex-shrink w-64"><!-- Search icon and input area -->
                <div class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg class="w-4 h-4 text-wood-700" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </div>
                <input class="block w-full py-2 pl-10 pr-4 text-sm text-gray-900 placeholder-gray-600 border shadow-md border-wood-400 bg-wood-50 rounded-md focus:ring-2 focus:ring-wood-600"
                       placeholder="Search"
                />
              </div>
              <button class="flex items-center px-3 py-2 ml-2 text-sm font-medium shadow-xl text-wood-50 bg-wood-750 hover:bg-wood-850 rounded-md">
                <svg class="w-5 h-5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24">
                  <path fill="none" stroke-width="2" d="M11,9 L19,9 M15,13 L15,5 M17,17 L17,23 L1,23 L1,7 L1,7 L7,7 M7,1 L23,1 L23,17 L7,17 L7,1 Z"/>
                </svg>
                <span class="hidden ml-2 lg:block">New chore</span>
              </button>
              <!-- Responsive: this "Requesters" will be on next line for mobile -->
              <div class="hidden md:flex md:items-center md:ml-3">
                <h2 class="text-2xl font-semibold text-gray-900">Requesters</h2>
                <div class="flex items-center ml-3">
                  <span class="-ml-2 border-2 rounded-full border-wood-100">
                    <img class="object-cover rounded-full h-9 w-9"
                         src="https://images.unsplash.com/photo-1534180477871-5d6cc81f3920?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144"
                         alt=""
                    />
                  </span>
                  <span class="-ml-2 border-2 rounded-full border-wood-100">
                    <img class="object-cover rounded-full h-9 w-9"
                         src="https://images.unsplash.com/photo-1608681299041-cc19878f79f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&h=144&w=144"
                         alt=""
                    />
                  </span>
                  <span class="-ml-2 border-2 rounded-full border-wood-100">
                    <img class="object-cover rounded-full h-9 w-9"
                         src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144"
                         alt=""
                    />
                  </span>
                  <span class="-ml-2 border-2 rounded-full border-wood-100">
                    <img class="object-cover rounded-full h-9 w-9"
                         src="https://images.unsplash.com/photo-1607746882042-944635dfe10e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144"
                         alt=""
                    />
                  </span>
                </div>
              </div>
            </div>
            <div class="flex items-center flex-shrink-0 ml-1">
              <button class="w-7 h-7 text-wood-750"> <!-- Notifications -->
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512">
                  <path d="M256 480a80.09 80.09 0 0073.3-48H182.7a80.09 80.09 0 0073.3 48zm144-192v-60.53C400 157 372.64 95.61 304 80l-8-48h-80l-8 48c-68.88 15.61-96 76.76-96 147.47V288l-48 64v48h384v-48z"/>
                </svg>
              </button>
              <button class="ml-2"><!-- Profile and self gravatar/photo -->
                <img class="object-cover rounded-full h-9 w-9"
                     src="https://images.unsplash.com/photo-1530785602389-07594beb8b73?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHJvZmlsZSUyMHdvbWFufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2.75&h=144&w=144&q=40"
                     alt="Your profile image"
                />
              </button>
            </div>
          </div>
          <!-- Responsive: "Requesters" on other line for mobile -->
          <div class="flex flex-shrink-0 py-2 border-b justify-items-start border-wood-400 md:hidden">
            <h2 class="hidden text-2xl font-semibold text-gray-900 xs:block">Requesters</h2>
            <div class="flex items-center ml-3">
              <span class="-ml-2 border-2 rounded-full border-wood-100">
                <img class="object-cover rounded-full h-9 w-9"
                     src="https://images.unsplash.com/photo-1534180477871-5d6cc81f3920?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144"
                     alt=""
                />
              </span>
              <span class="-ml-2 border-2 rounded-full border-wood-100">
                <img class="object-cover rounded-full h-9 w-9"
                     src="https://images.unsplash.com/photo-1608681299041-cc19878f79f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&h=144&w=144"
                     alt=""
                />
              </span>
              <span class="-ml-2 border-2 rounded-full border-wood-100">
                <img class="object-cover rounded-full h-9 w-9"
                     src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144"
                     alt=""
                />
              </span>
              <span class="-ml-2 border-2 rounded-full border-wood-100">
                <img class="object-cover rounded-full h-9 w-9"
                     src="https://images.unsplash.com/photo-1607746882042-944635dfe10e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144"
                     alt=""
                />
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="flex-1 overflow-auto">
      <main class="inline-flex h-full p-3 overflow-hidden">
        <div class="flex flex-col flex-shrink-0 bg-wood-100 w-100 rounded-md hover:bg-wood-300 transition-all duration-600 ease-linear">
          <h3 class="work-column-title">Backlog</h3>
          <div class="flex-1 min-h-0 overflow-y-auto">
            <ul class="px-5 pt-1 pb-3">
              <% 4.times do %>
                <%= render(
                  "other_card_preview",
                  title: "Refactor log middleware to cover SQL",
                  img_url: "https://images.unsplash.com/photo-1534180477871-5d6cc81f3920?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144",
                  date: Time.new(2021,11,02),
                  tag_color: "teal",
                  tag_text: "Feature"
                ) %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="flex flex-col flex-shrink-0 ml-3 bg-wood-100 w-100 rounded-md hover:bg-wood-300 transition-all duration-600 ease-linear">
          <h3 class="work-column-title">In Progress</h3>
          <div class="flex-1 min-h-0 overflow-y-auto">
            <ul class="px-5 pt-1 pb-3">
              <% 3.times do %>
                <%= render(
                  "other_card_preview",
                  title: "The world isn't in your books and maps, it's out there",
                  img_url: "https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144",
                  date: Time.new(2021,10,19),
                  tag_color: "rose",
                  tag_text: "Bug/Fix"
                ) %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="flex flex-col flex-shrink-0 ml-3 bg-wood-100 w-100 rounded-md hover:bg-wood-300 transition-all duration-600 ease-linear">
          <h3 class="work-column-title">Testing</h3>
          <div class="flex-1 min-h-0 overflow-y-auto">
            <ul class="px-5 pt-1 pb-3">
              <% 4.times do %>
                <%= render(
                  "other_card_preview",
                  title: "Would it save you a lot of time if I just gave up and went mad now?",
                  img_url: "https://images.unsplash.com/photo-1607746882042-944635dfe10e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&h=144&w=144",
                  date: Time.new(2021,10,11),
                  tag_color: "amber",
                  tag_text: "Layout"
                ) %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="flex flex-col flex-shrink-0 ml-3 bg-wood-100 w-100 rounded-md hover:bg-wood-300 transition-all duration-600 ease-linear">
          <h3 class="work-column-title">Ready to Delivery</h3>
          <div class="flex-1 min-h-0 overflow-y-auto">
            <ul class="px-5 pt-1 pb-3">
              <% 2.times do %>
                <%= render(
                  "other_card_preview",
                  title: "Space is big. You just won't believe how vastly, hugely, mind-bogglingly big it is. I mean, you may think it's a long way down the road to the chemist's, but that's just peanuts to space",
                  img_url: "https://images.unsplash.com/photo-1608681299041-cc19878f79f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&h=144&w=144",
                  date: Time.new(2021,10,11),
                  tag_color: "fuchsia",
                  tag_text: "Bubbles"
                ) %>
              <% end %>
            </ul>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<script src="https://unpkg.com/vue@^2.6/dist/vue.min.js"></script>
<script>
  new Vue({
      el: "#board",
      data: {
        sidebarOpen: false,
        },
    })
</script>
